<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silence the noisy third parties -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>
    <logger name="org.scanamo" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>