*.js
!jest.config.js
!jest.setup.js
!.eslintrc.js
*.d.ts
node_modules
dist

# CDK asset staging directory
.cdk.staging
cdk.out

# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/install-state.gz
