<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Lambda name="Lambda">
            <JsonTemplateLayout eventTemplateUri="classpath:LambdaJsonLayout.json"/>
        </Lambda>
    </Appenders>
    <Loggers>
        <Logger name="com.turo.pushy.apns.ApnsClientHandler" level="TRACE">
            <RegexFilter regex=".*Failed to write push notification on stream.*" onMatch="ACCEPT" onMismatch="DENY"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>