<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
    <Appenders>
        <Lambda name="Lambda">
            <Layout class="net.logstash.log4j.JSONEventLayoutV1" />
        </Lambda>
    </Appenders>
    <Loggers>
        <Logger name="com.turo.pushy.apns.ApnsClientHandler" level="TRACE">
            <RegexFilter regex=".*Failed to write push notification on stream.*" onMatch="ACCEPT" onMismatch="DENY"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>