name: cdk test

defaults:
  run:
    working-directory: cdk

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  workflow_dispatch:   

jobs:
  cdk-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
          cache-dependency-path: cdk/yarn.lock

      - name: Install
        run: yarn install --immutable

      - name: Test
        run: yarn test
