name: Event consumer

on:
  push:
    paths:
      - eventconsumer/**
      - commoneventconsumer/**
      - project/**
      - build.sbt
      - .github/workflows/event-consumer.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v4
        with:
          distribution: corretto
          cache: sbt
          java-version: 11

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}

      - name: Compile, test and assembly
        run: sbt "project eventconsumer" "compile" "test" "assembly"

      - name: Copy jar to root
        run: cp eventconsumer/target/scala-*/eventconsumer.jar .

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v3
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:eventconsumer
          buildNumberOffset: 4147
          configPath: eventconsumer/riff-raff.yaml
          contentDirectories: |
            eventconsumer:
              - eventconsumer.jar
            mobile-notifications-eventconsumer-cfn:
              - eventconsumer/cfn.yaml
