name: Event consumer

on:
  push:
    paths:
      - eventconsumer/**
      - commoneventconsumer/**
      - project/**
      - build.sbt
      - .github/workflows/event-consumer.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Compile, test and assembly
        run: sbt "project commoneventconsumer" "compile" "test" "project eventconsumer" "compile" "test" "assembly"

      - name: Copy jar to root
        run: cp eventconsumer/target/scala-*/eventconsumer.jar .

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:eventconsumer
          buildNumberOffset: 4147
          configPath: eventconsumer/riff-raff.yaml
          contentDirectories: |
            eventconsumer:
              - eventconsumer.jar
            mobile-notifications-eventconsumer-cfn:
              - eventconsumer/cfn.yaml
