name: Fake breaking news lambda

on:
  push:
    paths:
      - fakebreakingnewslambda/**
      - common/**
      - commoneventconsumer/**
      - api-models/**
      - project/**
      - build.sbt
      - .github/workflows/fake-breaking-news.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Compile, test and assembly
        run: sbt "project common" "compile" "test" "project api-models" "compile" "test" "project fakebreakingnewslambda" "compile" "test" "assembly"

      - name: Copy jar to root
        run: cp fakebreakingnewslambda/target/scala-*/fakebreakingnewslambda.jar .

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:fakebreakingnewslambda
          buildNumberOffset: 4147
          configPath: fakebreakingnewslambda/riff-raff.yaml
          contentDirectories: |
            fakebreakingnewslambda:
              - fakebreakingnewslambda.jar
            fakebreakingnewslambda-cfn:
              - fakebreakingnewslambda/fakebreakingnewslambda-cfn.yaml
