name: Notification

on:
  push:
    paths:
      - notification/**
      - common/**
      - commoneventconsumer/**
      - commonscheduleddynamodb/**
      - project/**
      - build.sbt
      - .github/workflows/notification.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Compile, test and package
        run: sbt "project common" "compile" "test" "project commonscheduledynamodb" "compile" "test" "project notification" "compile" "test" "debian:packageBin"

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Tests
          path: notification/target/test-reports/TEST-*.xml
          reporter: java-junit
          only-summary: 'false'
          fail-on-error: 'true'

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:notification
          buildNumberOffset: 4147
          configPath: notification/conf/riff-raff.yaml
          contentDirectories: |
            notification:
              - notification/target/notification_1.0-latest_all.deb
            notification-cfn:
              - notification/conf/notification.yaml
