name: Registration

on:
  push:
    paths:
      - registration/**
      - common/**
      - commoneventconsumer/**
      - commontest/**
      - cdk/**
      - project/**
      - build.sbt
      - .github/workflows/registration.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          cache: yarn
          cache-dependency-path: cdk/yarn.lock
          node-version-file: .nvmrc

      - name: CDK synth
        run: |
          cd cdk
          yarn install --immutable
          yarn lint
          yarn test
          yarn synth

      - name: Compile, test and package
        run: sbt "project common" "compile" "test" "project registration" "compile" "test" "debian:packageBin"

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Tests
          path: registration/target/test-reports/TEST-*.xml
          reporter: java-junit
          only-summary: 'false'
          fail-on-error: 'true'

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:registration
          buildNumberOffset: 4147
          configPath: registration/conf/riff-raff.yaml
          contentDirectories: |
            registration:
              - registration/target/registration_1.0-latest_all.deb
            registration-cfn:
              - cdk/cdk.out/Registration-CODE.template.json
              - cdk/cdk.out/Registration-PROD.template.json
            registrations-db-cfn:
              - registration-db.yaml
