name: Report extractor

on:
  push:
    paths:
      - reportextractor/**
      - common/**
      - commoneventconsumer/**
      - project/**
      - build.sbt
      - .github/workflows/report-extractor.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Compile, test and assembly
        run: sbt "project common" "compile" "test" "project reportextractor" "compile" "test" "assembly"

      - name: Copy jar to root
        run: cp reportextractor/target/scala-*/reportextractor.jar .

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:reportextractor
          buildNumberOffset: 4147
          configPath: reportextractor/riff-raff.yaml
          contentDirectories: |
            reportextractor:
              - reportextractor.jar
            reportextractor-cfn:
              - reportextractor/cfn.yaml
