name: Report

on:
  push:
    paths:
      - report/**
      - reportextractor/**
      - eventconsumer/**
      - cdk/**
      - common/**
      - commoneventconsumer/**
      - commontest/**
      - project/**
      - build.sbt
      - .github/workflows/report.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          cache-dependency-path: cdk/yarn.lock
          node-version-file: .nvmrc
      - name: CDK synth
        run: |
          cd cdk
          yarn install --immutable
          yarn lint
          yarn test
          yarn synth

      - name: Build project common
        run: sbt "project common" "compile" "test"

      - name: Build project report
        run: sbt "project report" "compile" "test" "debian:packageBin"

      - name: Build project reportextractor
        run: |
          sbt "project reportextractor" "compile" "test" "assembly"
          echo "Copying reportextractor jar to root directory"
          cp reportextractor/target/scala-*/reportextractor.jar .

      - name: Build project eventconsumer
        run: |
          sbt "project commoneventconsumer" "compile" "test" "project eventconsumer" "compile" "test" "assembly"
          echo "Copying eventconsumer jar to root directory"
          cp eventconsumer/target/scala-*/eventconsumer.jar .

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Tests
          path: report/target/test-reports/TEST-*.xml
          reporter: java-junit
          only-summary: 'false'
          fail-on-error: 'true'

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:report
          buildNumberOffset: 4147
          configPath: report/conf/riff-raff.yaml
          contentDirectories: |
            report:
              - report/target/report_1.0-latest_all.deb
            report-cfn:
              - cdk/cdk.out/Report-CODE.template.json
              - cdk/cdk.out/Report-PROD.template.json
            reportextractor:
              - reportextractor.jar
            eventconsumer:
              - eventconsumer.jar