name: Schedule lambda

on:
  push:
    paths:
      - schedulelambda/**
      - commonscheduledynamodb/**
      - project/**
      - build.sbt
      - .github/workflows/schedule-lambda.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Compile, test and assembly
        run: sbt "project commonscheduledynamodb" "compile" "test" "project schedule" "compile" "test" "assembly"

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Tests
          path: schedulelambda/target/test-reports/TEST-*.xml
          reporter: java-junit
          only-summary: 'false'
          fail-on-error: 'true'

      - name: Copy jar to root
        run: cp schedulelambda/target/scala-*/schedule.jar .

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:schedule
          buildNumberOffset: 4147
          configPath: schedulelambda/riff-raff.yaml
          contentDirectories: |
            schedule:
              - schedule.jar
            schedule-cfn:
              - schedulelambda/cfn.yaml
