name: SLO monitor

on:
  push:
    paths:
      - slomonitor/**
      - commoneventconsumer/**
      - cdk/**
      - project/**
      - build.sbt
      - .github/workflows/slo-monitor.yml
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          cache: yarn
          cache-dependency-path: cdk/yarn.lock
          node-version-file: .nvmrc

      - name: Compile, test and assembly
        run: sbt "project commoneventconsumer" "compile" "test" "project slomonitor" "compile" "test" "assembly"

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Tests
          path: slomonitor/target/test-reports/TEST-*.xml
          reporter: java-junit
          only-summary: 'false'
          fail-on-error: 'true'

      - name: Copy jar to root
        run: cp slomonitor/target/scala-*/slomonitor.jar .

      - name: CDK synth
        run: |
          cd cdk
          yarn install --immutable
          yarn lint
          yarn test
          yarn synth

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: mobile-n10n:slomonitor
          buildNumberOffset: 4147
          configPath: slomonitor/riff-raff.yaml
          contentDirectories: |
            slomonitor:
              - slomonitor.jar
            mobile-notifications-slo-monitor-cfn:
              - cdk/cdk.out/SloMonitor-CODE.template.json
              - cdk/cdk.out/SloMonitor-PROD.template.json
